
/* Set background on body only for contact page */
.custom-shadow {
  box-shadow: 0 10px 400px rgba(0, 0, 0, 0.3); /* soft dark shadow */
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 16px; /* optional: more rounded look */
}

.map-container {
    position: relative;
    width: 100%;
    height: 380px;
  }

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

    .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* semi-transparent black */
    pointer-events: none; /* allows clicks to pass through to the map */
    border-radius: 4px; /* optional rounded corners */
  }

  .form-control {
    background: #dcdcdc;
    color: #000
  }
